{% extends "home/home_base.html" %}
{% load i18n %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/home_style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
<script src="https://use.fontawesome.com/f95735dca6.js"></script>
{% endblock %}

{% block header_right %}
<div class="row full-width">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <a class="btn xl-button full-width js-scroll-trigger" href="#about">{% trans 'About' %}</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <a class="btn xl-button full-width js-scroll-trigger" href="#contact">{% trans 'Contact' %}</a>
    </div>
</div>
{% endblock %}


{% block content %}

    <!-- About -->
    <section class="home-section home-section-orange" id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Digitalizing the Fitness Industry</h2>
                </div>
                <hr>
            </div>
            <div class="row row-eq-height">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>{% blocktrans %} SmartGym is the Solution You need <br> to digitalize Your Studio! {% endblocktrans %}</h3>
                    <ul>
                        <li>{% blocktrans %} SmartGym-Add Ons are a <b>lightweight solution to digitalize your
                            machines</b>. {% endblocktrans %}</li>
                        <li>{% blocktrans %} Sensors help to track the relevant key figures of your clients' workouts.
                            {% endblocktrans %}</li>
                        <li>{% blocktrans %} Athletes can <b>analyze their workouts and their progress</b> within the
                            SmartGym-App. {% endblocktrans %}</li>
                        <li>{% blocktrans %} The Add Ons can be installed within a couple of minutes.
                            {% endblocktrans %}</li>
                        <li>{% blocktrans %} SmartGym comes as an integrated software system, <b>connecting you and
                            your clients</b> and helping you to <b>deliver the best service</b> and <b>manage your
                            facility</b>. {% endblocktrans %}</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hcenter">
                    <img class="full-width" src="{% static '/home/mockup/explan.png' %}">
                </div>
            </div>
        </div>
    </section>

    <!-- Vorteile Mitglieder -->
    <section class="home-section home-section-grey" id="members">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>{% trans 'Outstanding Workout Experience' %}</h2>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-4x fa-star-o"></i>
                            <h4>{% trans 'Motivates Your Clients' %}</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <p>{% blocktrans %} Motivating your clients is crucial for keeping fluctuation low.
                                SmartGym provides a variety of solutions to keep your clients motivated:
                                {% endblocktrans %}</p>
                            <ul>
                                <li>{% trans 'Automatic tracking of workouts in realtime' %}</li>
                                <li>{% trans 'Visualization of achievements and progresses' %}</li>
                                <li>{% blocktrans %}<a data-target="#app-carousel" data-slide-to="0" class="scroll-app">
                                    Live Feedback</a> lets you react to your clients' activities in realtime
                                    {% endblocktrans %}</li>
                                <li>{% trans 'Own studio community to share achievements and progresses' %}</li>
                                <li>{% blocktrans %}<a data-target="#app-carousel" data-slide-to="1" class="scroll-app">
                                    Specific tasks</a> and open community competitions to challenge your clients
                                    {% endblocktrans %}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-4x fa-angle-double-up"></i>
                            <h4>Increases Customer Loyalty</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <p>{% blocktrans %} SmartGym gives you the possibility to set yourself apart from your
                                competitors and to increase customer loyalty: {% endblocktrans %}</p>
                            <ul>
                                <li>Live overview over the activities in your gym helps you to deliver the best service</li>
                                <li>Own studio community binds your clients to your facility</li>
                                <li>Customized studio design of the mobile app makes your facility omnipresent for your clients</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div id="app-carousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#app-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#app-carousel" data-slide-to="1"></li>
                      </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner full-width">
                            <div class="item active">
                              <img src="{% static 'home/mockup/benchpress_iphone.png' %}">
                                <div class="carousel-caption">
                                    <p>Give Live-Feedback.</p>
                                </div>
                            </div>

                            <div class="item">
                              <img src="{% static 'home/mockup/achievements_iphone.png' %}">
                                <div class="carousel-caption">
                                    <p>Challenge your Clients</p>
                                </div>
                            </div>


                          <!-- Left and right controls
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                          -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Vorteile Studio -->
    <section class="home-section home-section-black">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>State-of-the-Art Trainer Support</h2>
                    <hr>
                </div>
            </div>

            <!-- Advantages II -->
            <div class="row row-eq-height">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                    <div class="row row-eq-height">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-4x fa-dashboard"></i>
                            <h4>Realtime Monitoring</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 hcenter">
                            <p><a data-target="#webapp-carousel" data-slide-to="1" class="scroll-webapp"p>Monitor</a> all activities in your
                                gym in realtime in order to provide the best service to your clients.</p>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-4x fa-clipboard"></i>
                            <h4>Create and Manage Workout Plans</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 hcenter">
                            <p>Create and manage your own <a data-target="#webapp-carousel" data-slide-to="2" class="scroll-webapp">workout
                                plans</a>. Assign them to your clients and track their progress.</p>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-4x fa-gears"></i>
                            <h4>Optimize Your Portfolio</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 hcenter">
                            <p>Find out which of your <a data-target="#webapp-carousel" data-slide-to="3" class="scroll-webapp">machines</a>
                                are popular and which are not to optimize your facility's portfolio. Predictive
                                Maintenance helps you to avoid malfunctions.</p>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-4x fa-arrows-alt"></i>
                            <h4>Highest Flexibility</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 hcenter">
                            <p>Use SmartGym on the device of your choice: SmartGym is available as
                                mobile app, on tablets and as web app.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hcenter">
                    <div id="webapp-carousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                          <li data-target="#webapp-carousel" data-slide-to="0" class="active"></li>
                          <li data-target="#webapp-carousel" data-slide-to="1"></li>
                          <li data-target="#webapp-carousel" data-slide-to="2"></li>
                          <li data-target="#webapp-carousel" data-slide-to="3"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner full-width">
                        <div class="item active">
                          <img class="full-width" src="{% static 'home/mockup/general_imac2013_front.png' %}">
                          <div class="carousel-caption">
                              <p>All important figures at a glance.</p>
                          </div>
                        </div>

                        <div class="item">
                          <img class="full-width" src="{% static 'home/mockup/overview_imac2013_front.png' %}">
                          <div class="carousel-caption">
                              <p>Realtime Monitoring.</p>
                          </div>
                        </div>

                        <div class="item">
                          <img class="full-width" src="{% static 'home/mockup/workout_imac2013_front.png' %}">
                          <div class="carousel-caption">
                              <p>Manage your Workout Plans.</p>
                          </div>
                        </div>

                        <div class="item">
                          <img class="full-width" src="{% static 'home/mockup/equipment_imac2013_front.png' %}">
                          <div class="carousel-caption">
                              <p>Manage your Equipment.</p>
                          </div>
                        </div>
                      </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Form -->
    <section class="home-section home-section-orange" id="contact">
        <div class="container home-section">
            <div class="row row-eq-height">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Contact</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3>Get in Touch with Us!</h3>
            </div>
            <div class="row row-eq-height" id="contact-row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    <h4>+49 157 57089125</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <h4>smartgym@gmail.com</h4>
                </div>

                    <!-- outdated contact - form
                    <form role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="row transparent">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <p>Name: </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <p>{{ form.contact_name }}</p>
                            </div>
                        </div>
                        <div class="row transparent">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <p>E-Mail: </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <p>{{ form.contact_email }}</p>
                            </div>
                        </div>
                        <div class="row transparent">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <p class="text-center">Nachricht: </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <p>{{ form.content }}</p>
                            </div>
                        </div>
                        <button class="xl-button" type="submit">Senden</button>
                    </form>
                    -->
                </div>
            </div>
    </section>
</div>
{% endblock %}

