{% extends "home/home_base.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/home_style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
<script src="https://use.fontawesome.com/f95735dca6.js"></script>
{% endblock %}

{% block header_right %}
<div>
<div class="row full-width">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Thanks for your interest. Please fill out the form below to get access to the demo version.</p>
    </div>
</div>

<div class="row full-width">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form role="form" action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="row transparent">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <p>Name: </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="black-text">
                        <td>{{ form.contact_name }}</td>
                    </div>
                </div>
            </div>
            <div class="row transparent">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <p>Mail: </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="black-text">
                        <td>{{ form.contact_email }}</td>
                    </div>
                </div>
            </div>
            <button class="xl-button" type="submit">Send</button>
        </form>
    </div>
</div>
</div>
{% endblock %}


{% block content %}

{% endblock %}