{% extends "home/home_base.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/home_style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

{% endblock %}

{% block header_right %}
<div class="row full-width">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 full-width">
        {% if form.errors %}
            <p>Username or Password wrong. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>No permission. Please login with another account to proceed.</p>
            {% else %}
            <p>Please login to continue.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div>
              <td>{{ form.username.label_tag }}</td>
                <div class="black-text">
                    <td>{{ form.username }}</td>
                </div>
            </div>
            <div>
              <td>{{ form.password.label_tag }}</td>
                <div class="black-text">
                    <td>{{ form.password }}</td>
                </div>
            </div>

            <div>
              <input class="xl-button" type="submit" value="Login" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        <p><a href="{% url 'signup' %}">Don't have an account yet?</a></p>
    </div>

</div>
{% endblock %}