{% extends "home/home_base.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/home_style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
{% endblock %}

{% block header_right %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        <p>Please enter your email address:</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <div class="black-text">
                <td>{{ form.email }}</td>
            </div>
            <input type="submit" class="btn xl-button" value="Reset password" />
        </form>
    </div>
</div>

{% endblock %}