{% extends "tracker/User/user_tracker_base.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

{% endblock %}

{% block site_content %}
<div class="container background-col">
    <div class="row full-height">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
            <div class="row row-eq-height">
                <h1>Start</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}