{% extends base_template %}

{% block extra_head %}
{% load static %}

<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

{% endblock %}

{% block site_content %}
<div class="container background-col">
    <div class="row full-height">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
            <div class="row row-eq-height">
                <h1>Meine Workouts</h1>
            </div>
        </div>

        <!-- List of TrainingUnits and the related ExerciseUnits and Sets. -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% for train_unit in training_units %}
                <div class="row">
                    <h2>Workout vom {{ train_unit.date }}</h2>
                    {% for exercise_unit in train_unit.exercise_units.all %}
                        <h3>{{ exercise_unit.exercise }}</h3>
                        {% for set in exercise_unit.set_set.all %}
                            <p>Set {{ forloop.counter }}: {{ set.repetitions }} Wiederholungen; {{ set.weight }} kg</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}