{% extends base_template %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'tracker/css/User/user_activities.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

{% endblock %}

{% block site_content %}
<div class="container background-col">

    <!-- Hand context variables to JS -->
    <script type="text/javascript">
        var profile = "{{ profile }}"
        var user_id = "{{ user_id }}"
        var active_set = "{{ profile.active_set }}";
        var ex_name = "{{ profile.active_set.exercise_unit.exercise }}";
    </script>

    <!-- Actual training activity if available -->
    <div id="active_set_div">
        <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
                <h1 id="exercise_name">Active Workout: </h1>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 active_workout">
                <div class="row text-center">
                     <h2>Wiederholungen:</h2>
                </div>
                <div class="row text-center extra-large">
                    <h2 class="extra-large" id="repetitions"></h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 active_workout">
                <div class="row text-center">
                     <h2>Gewicht:</h2>
                </div>
                <div class="row text-center">
                    <h2 class="extra-large" id="weight"></h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Network Activities -->
    <div class="row full-height">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
            <div class="row row-eq-height">
                <h1>Neuigkeiten</h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home">
            {% for activity in user.profile.get_follows_activities %}
                <div class="row activity">
                    <h5 class="small-annotation">{{ activity.created }}</h5>
                    <a href="{% url 'profile' activity.user.id %}">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
                            <img src="{{ activity.user.profile.profile_image.url }}">
                            <h3>{{ activity.user.username }}</h3>
                        </div>
                    </a>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
                        <p>{{ activity.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js_imports %}
<script src="{% static 'tracker/js/user_activities.js' %}"></script>
{% endblock %}