{% extends "base_generic.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="row full-height">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home">
        <h1>SmartGym</h1>
        <p>Für weitere Informationen nutzen Sie bitte das nachfolgende Kontaktformular:</p>
        <div class="row black-text transparent small_text">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 vcenter">
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    <div class="row transparent">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <p>Name: </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <p>{{ form.contact_name }}</p>
                        </div>
                    </div>
                    <div class="row transparent">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <p>E-Mail: </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <p>{{ form.contact_email }}</p>
                        </div>
                    </div>
                    <div class="row transparent">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <p class="text-center">Nachricht: </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <p>{{ form.content }}</p>
                        </div>
                    </div>
                    <button class="black_button" type="submit">Senden</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}