{% extends 'base_generic.html' %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

{% endblock %}


{% block content %}
<div class="box">
    <h1>Trainingseinheit vom {{ training_unit.date }}</h1>

    <h2>Einheiten:</h2>

    <ul>
    {% for ex_unit in exercise_unit_list %}
        <li>{{ ex_unit.exercise }}</li>
    {% endfor %}
    </ul>

    <a href="{% url 'add_exercise_unit' training_unit %}"><input type="submit" value="Hinzufügen"></a>
    <a href="{% url 'delete_training_unit' training_unit %}"><input type="submit" value="Trainingseinheit löschen"></a>
</div>
{% endblock %}