{% extends 'base_generic.html' %}


{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="box">
    {% if profile.user == user %}
        <h1>Mein Profil</h1>
    {% else %}
        <h1>{{ profile.user.username }}'s Profil</h1>
    {% endif %}
    <div class="profile-grid">
        {% if profile.profile_image %}
            <img src='{{ profile.profile_image.url  }}' alt="Profile Image"/>
        {% endif %}
        {% if profile.bio %}
        <p><b>Beschreibung:</b> <br>{{ profile.bio }}</p>
        {% endif %}
        {% if profile.gym %}
        <p><b>Gym:</b> <br>{{ profile.gym.name }}</p>
        {% endif %}
        {% if profile.user == user %}
            <p><b>Meine Erfolge:</b></p>
        {% else %}
            <p><b>{{ profile.user.username }}'s Erfolge:</b></p>
        {% endif %}
        <div class="achievement-grid">
            {% for achievement in profile.achievements.all %}
            <div class="ach">
                <img src="{{ achievement.achievement_image.url }}">
                <p>{{ achievement.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}