<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>App</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>

        {% load static %}
        <link rel="stylesheet" href="{% static 'tracker/css/User/app_mockup/main.css' %}">
    </head>
    <body id="body">
        <script type="text/javascript">
        var user_id = "{{ user_id }}"
        </script>

        <!-- Fullscreen -->
        <script>
        var elem = document.getElementById("body");

        elem.onclick = function() {
            req = elem.requestFullScreen || elem.webkitRequestFullScreen || elem.mozRequestFullScreen;
            req.call(elem);
        }
        </script>

        <div class="container-fluid mockup">
            <!-- Upper Space -->
            <div class="row empty-row-top">

            </div>

            <!-- exercise name -->
            <div class="row exercise-name-container">
                <h2 id="exercise-name">Leg Press</h2>
            </div>

            <!-- Circle container -->
            <div class="row circle-container">
                <div id="circle"></div>
                <h2 id="counter">
                    5
                </h2>
                <h3 id="target">
                    10
                </h3>
            </div>

            <!-- weight container -->
            <div class="row weight-container">
               <h2 id="weight">66 kg</h2>
            </div>

            <div class="row stop-button">
                {% load static %}
                <img src="{% static 'tracker/pictures/stop-button.png' %}">
            </div>

            <!-- Lower Space -->
            <div class="row empty-row-bottom">

            </div>
        </div>

        <script src="{% static 'tracker/js/jquery_circle_progress/circle-progress.js' %}"></script>
        <script src="{% static 'tracker/js/app_mockup/main.js' %}"></script>
    </body>
</html>
