<!--
Base file for tracker-application. Style and frame for all views/users (incl. Navbars, ActivityBar).
-->

<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Smart Gym</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <script src="https://use.fontawesome.com/f95735dca6.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'tracker/css/tracker_style.css' %}">

  {% block extra_head %}
  {% endblock %}

</head>

<body>

    <div id="w">
        <!-- Navbar -->
        <div id="header-wrapper">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid" id="header-container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/tracker/">SmartGym</a>
                    </div>
                    <div class="header-content">
                        {% block site_name %}
                        {% endblock %}
                    </div>
                    {% if user.is_authenticated %}
                    <div class="nav navbar-nav navbar-right">
                        <a href="{% url 'logout'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>

        <!-- Sidebar -->
        <div id="toggle-wrapper" class="container-fluid">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {% block sidebar_content %}

                {% endblock %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row" id="page-row">
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10" id="content">
                            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                            {% block site_content %}
                            {% endblock %}
                    </div>
                    <div class="hidden-xs hidden-sm col-md-3 col-lg-2 full-height" id="activity-bar">
                        <div class="activity-header">
                            <h2>Activities</h2>
                        </div>
                        <!-- Create entries for first 10 activities { - { for _ }- } -->
                        <div class="activities">
                            <div class="activity">
                                <div class="activity-log">
                                    <p>2 min ago</p>
                                </div>
                                <div class="activity-content">
                                    <h5>new post</h5>
                                    <p>Somebody posted something.</p>
                                </div>
                            </div>

                            <div class="activity">
                                <div class="activity-log">
                                    <p>2 min ago</p>
                                </div>
                                <div class="activity-content">
                                    <h5>new post</h5>
                                    <p>Somebody posted something.</p>
                                </div>
                            </div>

                            <div class="activity">
                                <div class="activity-log">
                                    <p>2 min ago</p>
                                </div>
                                <div class="activity-content">
                                    <h5>new post</h5>
                                    <p>Somebody posted something.</p>
                                </div>
                            </div>

                            <div class="activity">
                                <div class="activity-log">
                                    <p>2 min ago</p>
                                </div>
                                <div class="activity-content">
                                    <h5>new post</h5>
                                    <p>Somebody posted something.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <script src="{% static 'tracker/js/general_tracker.js' %}"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#toggle-wrapper").toggleClass("toggled");
    });
    </script>


</body>
</html>