html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0px;
    max-width: 100%;
    padding: 0px;
    font-family: TrajanPro-Regular, 'Lucida Grande', sans-serif;
    color: white;
}

@media only screen and (min-width: 1280px) {
    html, body {
        font-size: 13px;
    }
}

@media only screen and (max-width: 480px) {
    html, body {
        font-size: 8px;
    }
}

a {
    color: white;
    text-decoration: underline;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 3.0rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.box {
    text-align: left;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

.box p {
    font-size: 1.1rem;
    color: white;
}

.box a {
    font-size: 1.1rem;
}

.input_link {
    color: black;
}

.container-fluid {
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}

.grey {
    background-color: grey;
}

.row {
    height: 100%;
    min-height: 100%;
    width: 100%;
    background-color: grey;
    margin: 0px;
    padding: 0px;
}

.ach {
    padding: 18px;
    display: grid;
    justify-items: center;
}

.ach img{
    max-height: 100%;
    max-width: 100%;
}

.ach p {
    text-align: center;
}

.friend {
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    margin: 10px;
}

.friend img {
    max-height: 100%;
    max-width: 100%;
}

.friend a {
    color: white;
    font-size: 25px;
    text-decoration: underline;
}

.profile-grid {
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(1, 1fr);
}

.black-text input {
    color: black;
}

/*------ Footer ---------*/
footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  position: static;
  text-align: center;
  font-size: 1.2rem;
  bottom: 0;
}

/*------ Start and Login Page -------*/
.home {
    margin: 0px;
    padding: 100px;
    height: 100%;
    min-height: 100%;
    text-align: center;
    background-image: url('dumbbell.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
}

.home h1 {
    font-size: 10rem;
}

.home p {
    color: white;
    font-size: 2rem;
}

.home .small_text {
    font-size: 1.2rem;
}


.home .black_button {
    font-family: 'Raleway', sans-serif;
    color: white;
    border: solid 5px white;
    border-radius: 8px;
    font-size: 2.0rem;
    background-color: transparent;
    margin: 15px;
}

/*----------- NavBar ---------*/
.navbar {
      font-family: 'Raleway', sans-serif;
      background-color: black;
      margin: 0px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1.1rem;
}

.navbar a {
    text-decoration: none;
}

.navbar-brand {
    font-size: 1.3rem;
}