html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: TrajanPro-Regular, 'Lucida Grande', sans-serif;
    color: white;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.box {
    text-align: left;
    padding-left: 350px;
}

.box p {
    color: white;
    font-size: 20px;
}

.home {
    margin: 0px;
    padding: 100px;
    height: 100%;
    text-align: center;
    background-image: url('dumbbell.jpeg');
    background-size: 100% 100%;
    color: white;
}

.home h1 {
    font-size: 90px;
}

.home p {
    color: white;
    font-size: 30px;
}

.home .small_text {
    font-size: 15px;
}

.navbar {
      font-family: 'Raleway', sans-serif;
      background-color: black;
      margin: 0px;
      padding: 0px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100%;
    background-color: grey;
    margin: 0px;
    padding: 0px;
   }

/* Set gray background color and 100% height */
.sidenav {
  color: black;
  padding: 20px;
  background-color: #f1f1f1;
  height: 100%;
  min-width: 180px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: black;
  color: white;
  padding: 15px;
}

.black_button {
    font-family: 'Raleway', sans-serif;
    color: white;
    border: solid 5px white;
    border-radius: 8px;
    font-size: 30px;
    background-color: transparent;
    margin: 15px;
}

.achievement-grid {
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: center;
}

.a {
    display: grid;
    justify-content: center;
    justify-items: center;

}

.a img{
    height: 200px;
}

.a p {
    text-align: center;
}

