

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#mockup-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
